body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background: #00BCC8;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}

footer{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background: #393F44;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    color:white;
    padding: 15px;
}

ul, dl, dd{
    list-style: none;
    margin:0;
}

.logo{
    width:55px;
}

#body{
    min-height: calc(100vh - 180px);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

#noticias{
    background-color: white;
    border-radius: 30px;
    padding: 35px;
    margin: 50px;
    overflow-y: auto;
    width: calc(50% - 170px);
    min-width: 450px;
}

.card{
    background-color: white;
    border-radius: 30px;
    padding: 35px;
    margin: 50px;
    overflow-y: auto;
    width: calc(25% - 170px);
    text-align: center;
    height: 70px;
    color:black;
    min-width: 250px;
}

.icon {
    width: 50px;
}


h1 {
    text-align: center;
}

#product-list {
    margin-top: 20px;
}

#product-list > div {
    margin-bottom: 5px;
}

form {
    margin-top: 20px;
}

input, button {
    margin-right: 5px;
}

.menu-icon{
    cursor: pointer;
    width: 35px;
    margin: 0.83em 1em;
}

.menu-icon:hover div{
  color:#333;
  background-color: white;
}

.menu-icon div{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.2s;
}

.menu-icon.invert:hover div{
  color: white;
  background-color: #333;
}

.menu-icon.invert div{
  background-color: white;
}

a{
    text-decoration: none;
    color: white;
    font-weight:bold;
    transition: 0.3s;
}

a:hover{
    color:#00BCC8;
}


@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  header, footer, .body {
    width: 100%;
    margin: 0;
  }

  #noticias{
    margin: 0;
    width: calc( 100% - 70px);
  }
}

#sidebarmenu{
    height:100%;
    width:200px;
    background-color:rgba(0, 0, 0, 0.6);
    position:fixed;
    z-index:3;
    overflow:auto;
    animation: animateleft 0.4s;
}

#sidebarmenu a{
    cursor: pointer;
    display: block;
    margin: 15px;
    padding: 15px 0;
}

.inputblock{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
}

#inputblock{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
}

.button{
    color:white;
    background-color: #393F44;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.button:hover{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    color: #00BCC8;
}

.round{
    border-radius: 100%;
}

.hover-right{
    position:fixed;
    right: 45px;
}

.hover-bottom{
    position:fixed;
    bottom: 45px;
}

.big-icon{
    min-width: 70px;
    height: 70px;
    align-content: center;
    text-align: center;
    z-index: 0;
}

@keyframes animateleft {
    0% {
        left: -50%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }    
}

#moradorList, .list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.morador-item, .card-item {
    display: flex;
    padding: 1rem;
    width: 100%;
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 30.3333%;
    }
}

  
.morador-item-container, .card-container {
    width: 100%;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    &:hover {
      .card__image {
        filter: contrast(100%);
      }
    }
  }
  
.morador-item-container .description, .card-container .description {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}
  
.morador-item-container .img , .card-container .img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}
  
.morador-item-container .img img, .card-container .img img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
  }
  
.morador-item-container .card__title, .card-container .card__title{
    color: darkgray;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.morador-item-container .card__text, .card-container .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
  }
  

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  
  .morador-item .img, .card-item .img{
    background-color: #f1f1f1;
    flex: 50%;    
    width: 100%;
    padding: 0;
  }
  

.options-icon{
    text-align: center;
    cursor: pointer;
    /* width: 35px; */
    margin: 0.83em 1em;
    border-radius: 100%;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    background-color: #393F44;
}

.options-icon:hover div{
  /* background-color:#00BCC8  ; */
  color: #00BCC8;
}

.options-icon div{
    font-size: 4vh;
  color: white;
  margin: 6px 0;
  transition: 0.2s;
  margin: 2px auto;
  border-radius: 100%;
}

.title{
    margin: 35px 0 0 35px;
    font-size: 1.2em;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
  
.dropdown.show .dropdown-content {
  display: block;
  top: 45px;
  position: absolute;
}

.dropdown.show .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.bottom-right{
  bottom: 0px;
  right: 0px;
}

div.absolute{
  position: absolute;
}

.relative{
  position: relative;
}



/* Estilos para os campos do formulário */
input[type="text"],
input[type="date"],
input[type="file"],
input[type="number"],
input[type="color"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    &[type="color"] {
        padding: 0;
    }
}

/* Estilos para o botão de envio */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para o modal */
.modal {
    display: none;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.black-60{
  
  background-color: rgba(0, 0, 0, 0.6);
}